<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-col>
    <div class="ion-text-center">
      <h1>Text Center</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
        suscipit orci, sed pharetra erat. Ut vehicula egestas sagittis.
        Pellentesque luctus justo quam, nec lobortis enim bibendum eget. Mauris
        in cursus quam. Vivamus sit amet ornare metus. Donec hendrerit dolor sit
        amet ipsum auctor, at pharetra sem dictum. Vestibulum sodales venenatis
        ligula, sed luctus eros ultricies quis. Duis efficitur tortor et
        lobortis iaculis. Nunc vehicula vehicula elementum. Vivamus fermentum,
        odio vitae ullamcorper viverra, erat magna convallis tortor, eu luctus
        lorem dui sit amet magna. Fusce nec dolor rhoncus turpis lobortis
        faucibus. Etiam vitae ligula ac ex egestas pellentesque. Integer feugiat
        dolor non pharetra consectetur. Nam ut volutpat eros. Morbi sem purus,
        elementum sed molestie quis, posuere ut ligula. Vestibulum fringilla
        lectus vel purus vulputate vulputate.
      </p>
    </div>
  </ion-col>
</ion-content>
