<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="ion-text-center">
      <h1>Tugas Praktikum</h1>
      <p>Nama : Muhammad Ilham Kurniawan</p>
      <p>NIM : H1D020061</p>
      <p>Shift : F</p>
    </div>
  </ion-content>
</ion-content>
