<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 3 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-col>
    <div class="ion-text-center">
      <h1>Apa Itu Wibu?</h1>
      <p>
        Buat kamu yang bingung apa itu wibu, sebenarnya wibu adalah seseorang
        yang sangat jatuh cinta dengan budaya Jepang. Namun, kecintaannya
        terhadap budaya Jepang dianggap sudah berlebihan. Wibu memiliki makna
        untuk orang-orang bukan asli Jepang yang terlalu terobsesi terhadap
        kebudayaan Jepang. Bahkan, beberapa di antaranya mengklaim kalau dirinya
        lebih paham budaya Jepang daripada masyarakat lokal sendiri. Saat ini
        penggunaan kata wibu sering kali digunakan oleh netizen di sosial media.
        Sayangnya, kata wibu justru mengarah kepada hal yang kurang baik dan
        jadi bahan olok-olokan bagi sejumlah netizen kepada orang lain.
      </p>
    </div>
  </ion-col>
</ion-content>
